.mainLoadingContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid green;
}

.title {
  width: 272px;
  height: 59px;
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 700;
  line-height: 58.59px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fc4308;
}

.progressBarContainer {
  width: 540px;
  height: 15px;
  border-radius: 50px;
  background: #f5f5f5;
}

.progressBar {
  height: 100%;
  background-color: #fc4308;
  transition: width 0.9s ease-in-out;
  border-radius: 50px;
}
