.dashboard {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
}

.left {
  flex: 2;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mainInfo {
  grid-area: main-info;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.chart {
  grid-area: chart;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.chartWrapper {
  background: #ffffff;
  height: auto;
  border-radius: 12px;
}
.topDiv {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.topDivLeft,
.topDivRight {
  height: 69px;
}

.topDivLeft {
  left: 0;
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gradeSection {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.gradeSection > img {
  height: 100%;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
}

.gradeSection > span {
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

.gradeSection > span > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 63px;
  line-height: 57.42px;
  letter-spacing: 0px;
}

.xtraWeatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: left;
}

.xtraWeatherInfo > span {
  font-family: Roboto;
  font-weight: normal;
  font-size: 15px;
  white-space: nowrap;
  text-align: left;
  display: inline-block;
  margin-left: 12px;
}

.topDivRight {
  right: 0;
  width: 180px;
  margin-right: 6px;
}

.topDivRight > h2 {
  margin: 0;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
  letter-spacing: 0px;
  text-align: right;
}
.topDivRight > p {
  margin-top: 6px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: right;
}

/* .chart {
  padding-top: 48px;
} */

.bottomDiv {
  display: flex;
  justify-content: space-between;
  height: 120px;
  /* border: #43A047 1px solid; */
  margin-bottom: 15px;
  /* padding-top: 10px; */
}

.dayComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
  width: 81;
  height: 118;
  border-radius: 12px;
}

.dayComponent > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 120%;
  border-radius: 0 0 12px 12px;
  margin-bottom: 0;
}

.dayComponent > h5 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0px;
  text-align: center;
  width: 27;
  height: 19;
  margin: 0;
}

.dayComponent > img {
  width: 45;
  height: 45;
  object-fit: cover;
}
.maxTemp {
  width: 18;
  height: 14;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  color: #3e3232;
}
.minTemp {
  width: 18;
  height: 14;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0px;
  color: #3e323280;
}

.card {
  height: 120px;
  width: 210px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: white;
  height: 180px;
  border-radius: 12px;
  margin: 6px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlayTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
  margin-bottom: 3px;
}
.overlayTopLeft {
  display: flex;
  flex-direction: column;
  width: 45%;
  z-index: 3;
  left: 0;
  text-align: left;
  margin: 9px;
  height: 48px;
}

.overlayTopLeft > span {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0px;
}

.overlayTopRight {
  display: flex;
  flex-direction: column;
  width: 45%;
  z-index: 3;
  right: 0;
  text-align: right;
  margin: 9px;
  height: 48px;
}

.overlayTopRight > h2,
.overlayTopRight > p {
  z-index: 4;
  position: relative;
}

.overlayTopRight > h2 {
  margin: 0;
}

.overlayTopRight > p {
  margin-top: 6px;
}

.overlayBottom {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

.overlayBottom img {
  width: 50px;
  height: auto;
  margin-bottom: 8px;
}

.overlayBottom > span {
  font-family: Roboto;
  font-weight: 400;
  font-size: 69px;
  line-height: 14.06px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  display: inline-block;
  position: relative;
}

.overlayBottom > span > span {
  font-family: Roboto;
  font-weight: 300;
  line-height: 14.06px;
  letter-spacing: 0px;
  font-size: 12px;
  position: absolute;
  top: -18px;
  left: 100%;
  margin-left: 9px;
  transform: translateX(-100%);
}

.card.sunny {
  position: relative;
  background-size: cover;
  background-position: center;
}

.card.sunny::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      154.1deg,
      rgba(251, 68, 28, 0.91) 0%,
      rgba(251, 202, 28, 0.6) 99%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
  z-index: 1;
  pointer-events: none;
  border-radius: 12px;
}

.card.snow {
  position: relative;
  background-size: cover;
  background-position: center;
}

.card.snow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    linear-gradient(
      154.1deg,
      rgba(28, 50, 251, 0.91) 0%,
      rgba(28, 251, 224, 0.6) 99%
    );

  z-index: 1;
  pointer-events: none;
  border-radius: 12px;
}

.card.rainy {
  position: relative;
  background-size: cover;
  background-position: center;
}

.card.rainy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    linear-gradient(
      154.1deg,
      rgba(7, 156, 39, 0.91) 0%,
      rgba(192, 255, 113, 0.6) 99%
    );
  z-index: 1;
  pointer-events: none;
  border-radius: 12px;
}

.card.moonCloud {
  position: relative;
  background-size: cover;
  background-position: center;
}

.card.moonCloud::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    linear-gradient(
      154.1deg,
      rgba(113, 28, 251, 0.91) 0%,
      rgba(251, 28, 148, 0.6) 99%
    );
  z-index: 1;
  pointer-events: none;
  border-radius: 12px;
}

@media screen and (max-width: 1024px) {
  .left {
    display: none;
  }
  .right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .card {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .sliderSectionContainer {
    display: none;
  }
}
